/*
#wrap {
    min-height: 100%;
    height: auto !important;
    margin: 0px auto -60px;
}
#footer {
    background-color: #F5F5F5;
}
#push, #footer {
    height: 60px;
}
img{
    max-width: 100%;
}*/

body{
    min-width: 400px;
    padding-top: 70px;
     padding-bottom: 70px; 
}